# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
my_venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/

fixxinvest-c21c3-firebase-adminsdk-2ms1j-8847b86159.json
